$white: #ffffff;
$purple-01: #c700ff;
$purple-02: #9600ff;
$black: #000000;
$black-01: #191718;
$grey: #1d1d1d;
$grey-01: #5C5C5C;
$grey-02: #aaaaaa;
$grey-03: #efefef;

$roboto_light: 'Roboto_Light';
$roboto_bold: 'Roboto_Bold';
$roboto_black: 'Roboto_Black';
$roboto_medium: 'Roboto_Medium';
$roboto_thin: 'Roboto_Thin';
$roboto_regular: 'Roboto_Regular';